.order-review {
    margin-top: 80px;
    .table {
        border-top: solid 2px #222;
        border-bottom: solid 1px #dbdbdb;
        margin-bottom: 50px;
        .rate-box {
            margin-top: 20px;
            padding: 30px 0;
            text-align: center;
            background-color: #f9f9f9;
            .title {
                color: #222;
                font-size: 1.667rem;
                font-weight: bold;
            }
            .rate {
                margin-top: 16px;
                & > svg {
                    margin: 0 8px;
                }
            }
        }

        .input-area {
            display: table;
            margin-top: 30px;
            .area-name {
                display: table-cell;
                min-width: 110px;
                font-size: 1.667rem;
                font-weight: 500;
                color: #222;
            }
            .content {
                display: table-cell;
                width: 100%;
                .r-content {
                    width: 100%;
                    height: 160px;
                    box-sizing: border-box;
                    resize: none;
                    border: solid 1px #ebebeb;
                    padding: 10px 20px;
                    font-size: 1.5rem;
                    outline: none;
                }
                .file {
                    display: table;
                    box-sizing: border-box;
                    width: 100%;
                    .unknown-area {
                        display: table-cell;
                        width: 580px;
                        height: 40px;
                        box-sizing: border-box;
                        border: solid 1px #ebebeb;
                    }
                    .q-files {
                        display: none;
                    }
                    .file-finder {
                        font-size: 1.5rem;
                        font-weight: 500;
                        width: 240px;
                        height: 40px;
                        background-color: #f9f9f9;
                        border: solid 1px #dbdbdb;
                        .file-setter {
                            display: table;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            .font {
                                display: table-cell;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
            .order-id {
                display: table-cell;
                width: 100%;
                font-size: 1.833rem;
                font-weight: bold;
                color: #555;
            }

            &.v-top {
                .area-name {
                    vertical-align: top;
                }
            }
        }
        .file-list {
            margin-top: 10px;
            margin-bottom: 40px;
            padding-left: 110px;
            height: 30px;
            .file-item {
                display: inline-block;
                padding: 5px 20px;
                border-radius: 16px;
                border: solid 1px #ccc;
                font-size: 1.167rem;
                color: #222;
                .delete {
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    margin: 0;
                    margin-left: 36px;
                }
            }
        }
    }
    .button-area {
        text-align: center;
        .confirm {
            width: 320px;
            height: 64px;
            font-size: 2rem;
            font-weight: bold;
            color: #007240;
            border: solid 1px #007240;
            border-radius: 36px;
        }
    }
}

.file-item {
    & + & {
        margin-left: 20px;
    }
}
