@import '../../styles/Root.scss';
.container {
    .content {
        padding-top: 40px;
        .title {
            border-bottom: 2px solid #222;
            font-size: 2rem;
            font-weight: bold;
            color: #222;
            padding: 20px 0;
        }
    }
    .order-list {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
    }
}

.select-date {
    display: flex;
    padding-top: 20px;
    padding-bottom: 80px;
    .date {
        width: 300px;
        padding-right: 76px;
        display: flex;
        .date-box {
            font-size: 1.333rem;
            width: 80px;height: 40px;
            border: 1px solid #ebebeb;
            text-align: center;
            &:hover {
                background-color: #dbdbdb;
            }
        }
    }
    .date-input-box {
        width: 100%;
        display: flex;
        align-items: center;
        .text {
            font-size: 1.5rem;
            padding-right: 10px;
        }
        .input {
            input {
                width: 144px; height: 40px;
                padding: 10px 20px;
                font-size: 1.333rem;
                border: 1px solid #ebebeb;
                outline: none;
                box-sizing: border-box;
            }
        }
        .btn {
            margin-left: 20px;
            color: #fff;
            background-color: $main-color;
            width: 156px;
            height: 40px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .line {
            width: 8px;
            height: 1px;
            margin: 0 8px;
            border: 1px solid #dbdbdb;
            box-sizing: border-box;
        }
    }
}
