@import '../../styles/Root.scss';
.order-item {
    // border:1px solid red;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    &.space {
        margin-top: 20px;
        // border-top: 1px solid #ccc;
        // border-bottom: 1px solid #ccc;
    }
    width: 100%;
    height: 144px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    .menu-img {
        float: left;
        padding-right: 40px;
        img {
            width: 100px; height: 100px;
        }
    }
    .menu-info {
        position: relative;
        .name {
            font-size: 1.667rem;
            color: #222;
            font-weight: bold;
            padding-bottom: 10px;
        }
        .options {
            font-size: 1.333rem;
            color: #555;
            padding-bottom: 20px;
            .medium {
                font-weight: 500;
            }
        }
        .quanity {
            font-size: 1.5rem;
            span {
                font-weight: bold;
            }
        }
        .price {
            position: absolute;
            right: 40px;
            bottom: 0px;
            @include default_font(24px);
        }
    }
    & + & {
        border-top: 1px solid #ccc;
    }
    .center-price {
        position: absolute;
        top: 50%;
        right: 80px;
        height: 144px;
        text-align: center;
        padding-left: 80px;
        line-height: 144px;
        border-left: 1px solid #ebebeb;
        transform: translateY(-50%);
        @include default_font(24px);
    }
}
