@import '../../styles/Root.scss';

.pd-box {
    padding: 24px;
    // border: 1px solid red;
}
.pd-side {
    padding: 10px;
}

.coupon-list {

    .tr{
        height: 55px;
        display: flex;
        align-items: center;
        padding:0 40px;
        .td{
            width: 100%;
            text-align: center;
            font-size: 18px;
        }
    }
    .coupon-item {
        cursor: pointer;
        width: 100%;
        height: 55px;
        background-color: #fff;
        text-align: center;
        .info{
            display: flex;
            align-items: center;
            height: 55px;
            padding:0 40px;

            font-size: 16px;
            color:#555;
            border-top:1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            .event-name{
                width: 100%;
            }
            .sale{
                width: 100%;
            }
            .sub-name{
                width: 100%;
                
            }
            .date{
                width: 100%;
            }
        }
     
    }
}
