@import '../../styles/Root.scss';

$value1: -20px;
$value2: 22px;
.pd-box {
    padding: 40px;
    // border: 1px solid red;
}
.pd-side {
    padding: 10px;
}

.downcoupon-list {
    margin: $value1 0 0 $value1;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    .coupon-item {
        cursor: pointer;
        margin: $value2 0 0 $value2;
        width: 460px;
        box-sizing: border-box;
        height: 200px;
        position: relative;
        display: flex;
        border: 1px solid #dbdbdb;
        border-radius: 10px;
        margin-top: 24px;
        background-color: #fff;
        .down {
            min-width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-right: 1px dashed #DBDBDB;
        }
        .info {
            width: 100%;
            font-size: 16px;
            box-sizing: border-box;
            color: #777;
            .event-name {
                font-weight: bold;
                font-size: 24px;
                color: #222;
                margin-bottom: 29px;
            }
            .date, .sale , .sub-name {
                margin-top: 8px;
            }
        }
    }
}
