@import '../../styles/Root.scss';
.sign-input {
    display: flex;
    flex-direction: row;
    margin:10px 0;
    .label{
        width: 130px;
        height: 62px;
        line-height: 62px;
        font-size: 20px;
        padding-left: 13px;
        color:#222222;
    }
    input {
        outline: none;
        border:1px solid #ccc;
        font-size: 18px;
        background: #fff;
        height: 62px;
        outline: none;
        box-sizing: border-box;
    
        &.normal{
            width: 540px;
        }
        
        &.auth{
            width: 360px;
        }
    }
    .auth-btn{
        width: 160px;
        margin-left: 20px;
        border: 1px solid $main-color;
        box-sizing: border-box;
        color:$main-color;
        font-size:18px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: rgb(219, 219, 219);
        }
    }
}