@import '../../styels/Root.scss';
.container{
    @include wireframe;
    .title-input{

        width: 100%;
        margin: 20px 10px;
        .title{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}