@import '../../styels/Root.scss';
.main{
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    .pd-box{
        padding: 20px 120px;
        width: 100%;
        height: auto;
        border: 0px solid red;
    }
    .item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(218, 218, 218);
        width: 100%;
    }
    .text{
        width: 450px;
        border: 0px solid black;
        align-items: center;
    }
    .value{
        width: 100%;
        vertical-align: middle;
        border :0px solid black;
        padding-right: 250px;
        height: 70px;
    }
    .compare{
        width: 100%;
        height: 70px;
        color: red;
        border :0px solid black;
        padding-right: 250px;
    }
}
