@import '../../styles/Root.scss';

$pd-none: true;
$value1: -71px;
$value2: 71px;
.menu-list {
    box-sizing: border-box;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        clear: both;
    }
}
.menu-item {
    float: left;
    box-sizing: border-box;
    width: 290px;
    padding-top: 40px;
    padding-bottom: 60px;
    cursor: pointer;

    .menu-img {
        img {
            width: 290px;
            height: 344px;
        }
    }

    //메뉴 정보 텍스트 영역
    .menu-info {
        width: 100%;
        padding-top: 20px;
        .menu-title {
            font-size: 22px;
            color: #222;
            font-weight: bold;
            margin-bottom: 12px;
        }
        .menu-text {
            font-size: 14px;
            color: #999999;
            margin-bottom: 20px;
        }
        .menu-price {
            font-size: 24px;
            color: #222222;
            font-weight: bold;
        }
    }
    & + & {
        margin-left: 40px;
    }
    &:nth-child(4n + 1) {
        margin-left: 0;
    }
}

.pd-box {
    padding: 0 10px;
}
