@import '../../styles/Modal.scss';

.modal-input-box {
    select {
        width: 100%; /* 원하는 너비설정 */
        padding: 0.8em 24px; /* 여백으로 높이 설정 */
        font-family: inherit; /* 폰트 상속 */
        border: 1px solid #ccc;
        border-radius: 10px; /* iOS 둥근모서리 제거 */
    }
    .label {
        color: #555;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        height: 56px; /* 원하는 너비설정 */
        padding: 0.8em 24px; /* 여백으로 높이 설정 */
        font-family: inherit; /* 폰트 상속 */
        border: 1px solid #ccc;
        border-radius: 10px; /* iOS 둥근모서리 제거 */
        box-sizing: border-box;
        outline: none;
        font-size: 1.667rem;
        color: #222;
    }
    & + & {
        margin-top: 30px;
    }
}

.modal-content {
    padding: 38px;

    .estimate {
        margin-top: 40px;
        width: 100%;
    }
}

.title-bar {
    position: relative;
    .title {
        @include modal-title;
    }
    .close {
        @include close-icon;
    }
}

.box {
    margin-top: 30px;
    text-align: right;
    .btn {
        display: inline-block;
        box-sizing: border-box;
        width: 180px;
        height: 48px;
        border-radius: 36px;

        font-size: 1.333rem;
        font-weight: 500;
        border: solid 1px #dbdbdb;
        color: #777;
        &.active {
            margin-left: 20px;
            font-weight: bold;
            border: solid 1px #007246;
            color: #007246;
        }
    }
}
