@import '../../styles/Modal.scss';


.dialog{
    &.open{
        display: flex;
    }
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1550;
    position: fixed;
    width: 1080px; height: 560px;
    // border:1px solid red;
    background-color: #fff;
    box-shadow: 0 0px 15px rgba(0,0,0,0.8);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    .slick-img{
        width: 580px;
        height: 560px;
        ul{
            bottom:30px;
            button {
                // border:1px solid red;
                &::before{
                    font-size: 6px;
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    content: '•';
                    text-align: center;
                    color: $main-color;
                }
            }
        }
        .img{
            width: 100%;
            height: 560px;
        }
    }
    .content{
        width: 500px;
        box-sizing: border-box;
        padding: 40px;
        background-color: #fff;
        height: 560px;
        .close{
            position: absolute;
            right:40px;
            top:40px;
        }
        .user-info{
            display: flex;
            align-items: center;
            font-size: 20px;
            .user-email{
                margin-left:15px;
              font-weight: bold;
                .email{
                    color:#222;
                }
                span{
                    color:#999;
                }

            }
        }
        .review-info{
            .review-box{
                margin-top: 20px;
                width: 100%;
                height: 196px;
                border:1px solid #EBEBEB;
                border-radius: 10px;
                padding: 20px;
                box-sizing: border-box;
                .review{
                    font-size:16px;
                    color:#555;
                }
            }
        }
    }
}


.dim{
    &.dimopen{
        display: block;
    }
    display: none;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color:#000;
    opacity: 0.3;
    z-index: 1400;
}