@import '../../styles/Modal.scss';

.dialog > div > div {
    max-width: 600px !important;
}
.title-bar {
    position: relative;
    .title {
        @include modal-title;
    }
    .close {
        @include close-icon;
    }
}
.modal-content {
    @include modal-content;
    .label {
        color: #222;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .confirm {
        text-align: center;
        .btn {
            border: 1px solid $main-color;
            border-radius: 36px;
            box-sizing: border-box;
            width: 260px;
            height: 48px;
            font-size: 16px;
            font-weight: bold;
            color: $main-color;
            margin-top: 40px;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                overflow: hidden;
                clear: both;
            }
        }
    }

    .preview {
        float: right;
    }
}