@import '../../styles/Root.scss';

.container {
    display: table;
    @include wireframe;

    .content {
        padding-left: 88px;
        padding-top: 80px;
        padding-bottom: 160px;
        position: relative;

        .title {
            font-size: 3rem;
            font-weight: bold;
            color: #222;
            line-height: 48px;
        }
    }
}
