.table {
    border-top: solid 2px #222;
    border-bottom: solid 1px #DBDBDB;
    margin-top: 80px;
    .count_row {
        display: table-cell;
        width: 300px;
        vertical-align: top;
        color: #222;
        font-size: 2rem;
        font-weight: 500;
    }
    .content {
        .area {
            line-height: 1.5;
            color: #555;
            font-size: 16px;
        }
    }
}

.area {
    & + & {
        margin-top: 25px;
    }
}
.column {
    padding: 60px 0;
    display: table;
    & + & {
        border-top: solid 1px #DBDBDB;
    }
}