@import '../../styles/Root.scss';
$header-height : 120px;
.header{
    height: 176px;
    color:black;
    min-width: $min-width;
    margin:0 auto;
   .sub{
        width: 100%;
        border-bottom:1px solid #F0F0F0;
        height: 55px;
        .content{
            padding:16px 0;
            max-width: $max-width;
            min-width: $min-width;
            margin: 0 auto;
            .addr-store{
                display: flex;
                flex-direction: row;
                .info{
                  width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &:first-child{
                        padding-right: 10px;
                    }
                    img{
                        padding-right:5px;
                    }
                    .text{
                    padding-right: 20px;
                    }
                }

                .auth{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .box{
                        cursor: pointer;
                        &:first-child{
                            padding-right: 34px;
                        }
                    }
    
                }
            
            }

       
            
        }
    }
    .header-nav{
        display: flex;
        height: $header-height;
        align-items: center;
        max-width: $max-width;
        margin: 0 auto;

        .header-logo{
            width: 300px;
            height:$header-height;
            cursor: pointer;
            .logo{
                width: 120px;
                height:96px;
                padding:11px 0;
            }
        }

        .header-menu{
            display: flex;
            align-items: center;
            width: 100%;
            height:$header-height;
        }

        .header-input{
            display: flex;
            align-items: center;
            width: 320px;
            height:$header-height;
            .input{
                position: relative;
            }
            .search{
                width: 320px;
                box-sizing: border-box;
                border:1px solid #EBEBEB;
                border-radius: 100px;
                height: 48px;
                outline: none;
                padding-left:24px;
            }
            .icon{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                right: 20px;
            }

        }
        
    }
}

.header ul{
    list-style:none;
    min-width: 720px;
    
}
.header li{
    float: left;
    margin: 0 30px 0 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color:#222;
    &:first-child{
        margin-left:0;
    }
}

