.app-sign-titlebar{
}
.app-sign-title{
    font-family: Ubuntu-Bold;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    
    padding-bottom: 51px
}
.app-sign-logo{
    width: 100%;
}
