.paging {
    width: 100%;
    overflow: hidden;
    .move {
        float: left;
    }
    .back {
        float: right;
    }
    .button {
        width: 120px; height: 48px;
        border: solid 1px #ccc;
        font-size: 1.5rem;
        &.black {
            border: none;
            background-color: #555;
            color: #fff;
        }
        &.disabled {
            color: #ccc;
            border-color: #dbdbdb;
        }
    }
}

.button {
    & + & {
        margin-left: 10px;
    }
}