@import '../../styles/Root.scss';
.footer {
    height: 250px;
    background-color: #f9f9f9;
    .content {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        height: 64px;
        background-color: #fff;
        .title {
            @include wireframe;
            height: 100%;
            .tos {
                font-size: 16px;
                height: 64px;
                display: table;
                float: left;
                .text1 {
                    display: table-cell;
                    vertical-align: middle;
                    color: #777;
                    span {
                        cursor: pointer;

                        &:first-child {
                            font-weight: bold;
                            color: #222;
                            padding-right: 24px;
                        }
                    }
                }
            }
            .sns {
                height: 64px;
                width: 30px;
                float: right;
                display: table;
                .asset {
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 20px;
                }
            }
        }
        .context {
            @include wireframe;
            height: 186px;
            .contact-table {
                width: 260px;
                height: 100%;
                display: table;
                .cell {
                    font-size: 26px;
                    display: table-cell;
                    vertical-align: middle;
                    .text {
                        color: #222;
                    }
                    .number {
                        font-weight: bold;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}
