
.app-profile-agree{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 14px;
    padding-top:30px;
}
.app-profile-agree .item{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.all label{
    font-size: 20px;
}
.all input[type="radio"]{
    width: 50px;
    margin: 0;
    padding: 0;
}
.sub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color :#999999;
}
.app-profile-agree-label{
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color:black;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}
.app-profile-agree-link label{
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color:#999999;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}

