* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 1328px;
    font-size: 12px;
}

input[type='checkbox'] {
    display: none;
}
input {
    outline: none;
    box-sizing: border-box;
}

select {
    /*ios대응*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    /*화살표 배경 넣기*/
    background: url('../src/components/svg/select/select.svg') no-repeat
        98% 50% #fff;
        background-size:30px 10px;
    /*화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}
select::-ms-expand {
    display: none; /* 화살표 없애기 for IE10, 11*/
}