* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 1328px;
    font-size: 12px;
}

input[type='checkbox'] {
    display: none;
}
input {
    outline: none;
    box-sizing: border-box;
}
