@import '../../styles/Root.scss';

.container{
    @include wireframe;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .content{
        &.sign-in{
            width: 500px;
        }
        width: 670px;
        position: relative;
        padding-top:73px;
        .title{
            width: 100%;
            margin:  0 auto;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 60px;
        }
        .user-input{
            input{
                width: 100%;
                height: 64px;
                outline: none;
                border:1px solid #ccc;
                background-color: #fff;
                border-radius: 10px;
                padding-left: 20px;
                margin: 13px 0;
                box-sizing: border-box;
            }
        }
    }
}


.sub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top:3px;
}


.sub-text{
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    position: relative;
    cursor: pointer; 
}



// 로그인창 소셜 로그인
.social{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .sns{
        width: 100%;
        vertical-align: middle;
        height: 50px;
        border: 2px solid black;
        border-radius: 50px;
        margin: 20px 0 20px 0;
    }
    
}


//회원가입 창 동의서
.agree{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 14px;
    padding-top:30px;

    .item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .sub{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 24px;
            padding-top:3px; 
        }
    }

    .box{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    
}


//회원가입창 비밀번호 일치 불일치
.compare{
    padding-left:143px;
    font-size: 14px;
    color:$main-color;
    margin-bottom:30px;
}
.compare_fail{
    padding-left:143px;
    font-size: 14px;
    color:red;
    margin-bottom:30px;
}

// 회원정보 찾기 링크

.link-box{
    width: 100%;
    height: 192px;
    border: 0px solid red;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    .item{
        margin: 0 20px 0 20px;
        width: 200px;
        height: 80%;
        cursor: pointer;
        // border: 1px solid black;
    }

}
.btn{
    padding: 0 94px;
}
